.login-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 200px 1fr;
  align-items: center;
  justify-items: center; /* adjusted */
}

.login-content {
  width: 300px;
  height: 300px;
  grid-template-rows: 40px 40px 40px;
  grid-row-gap: 20px;
  display: grid;
}

.login-logo {
  width: 200px;
}
